<app-header></app-header>
<body>

  <div class="container">
    <div class="row">
      <div class="col">
            <form>
              <h3>Filtrar peticions</h3>
              <select class="form-control" name="filtrar" id="filtrar" >
                      <option value="pendents">     Pendents      </option>
                      <option value="realitzades">  Realitzades   </option>
                      <option value="rebutjades">   rebutjades    </option>
                      <option value="acceptades">   acceptades    </option>
              </select>
              <button  type="submit" class="btn-btn-secondary"> Filtrar </button>
            </form>
      </div>

      <div class="col">
        <h3>Resultats</h3>

      </div>

      <div class="col">
          <table>
            <thead>

            </thead>

            <tbody>

            </tbody>
          </table>
      </div>



    </div>
  </div>
</body>
