<app-header></app-header>
<div class="container-fluid general ">

    <div class="col-lg-2 divisor"  >
      <div ng *ngIf="counters">
        <h1 class="h1-strong">Resum</h1>
        <h4>Total sol·licituds Pendents</h4>
        <p > {{counters.petitions}} </p>
        <h4>Total sol·licituds teves</h4>
        <p > {{counters.requested}} </p>
      </div>
    </div>

    <div class="col-lg-4 card divisor">
      <h1 class="h1-strong">Les teves sol·licituds</h1>
      <table class="table table-striped tabla">
        <thead>
          <tr>
            <th>Nom Activitat</th>
            <th>Descripció</th>
            <th>Usuari</th>
            <th>Preu</th>
            <th>Borrar</th>
            <th>Realitzada</th>
            <th>Finalitzar</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let petition of myPetition">
          <td>
            {{petition.activity.name}}
          </td>
          <td>
            {{petition.activity.description}}
          </td>
          <td>
            {{petition.userTo.name}}
          </td>
          <td>
            {{petition.activity.cost}}
          </td>
          <td>
            <button class="btn btn-danger" (click)="deletePetition(petition._id)"  >
              <i class="fa fa-trash" style="font-size: 12px "></i>
            </button>
          </td>
          <td *ngIf="!petition.isDone&&!petition.accepted">
            Pendent d'aprovar

          </td>
          <td *ngIf="petition.accepted&&!petition.isDone">
            Aprovada
          </td>
          <td *ngIf="petition.isDone">
            Finalitzada
          </td>
          <td *ngIf="petition.accepted&&!petition.isDone">
            <button class="btn btn-danger" (click)="donePetition(petition)" >
              <i class="fa fa-check" style="font-size: 12px "></i>
            </button>
          </td>
          <td *ngIf="!(petition.accepted&&!petition.isDone)">
            <button class="btn btn-danger" (click)="donePetition(petition)" disabled>
              <i class="fa fa-check" style="font-size: 12px "></i>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="col-lg-4 card divisor">
      <h1 class="h1-strong">Sol·licituds d'altres usuaris</h1>
      <table class="table table-striped tabla">
        <thead>
          <tr>
            <th>Nom activitat</th>
            <th>Descripció</th>
            <th>Usuari </th>
            <th>Preu</th>
            <th>Gestionar </th>
            <th>Estat</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let request of theirPetition">
          <td>{{request.activity.name}} </td>
          <td>{{request.activity.description}}</td>
          <td>{{request.userFrom.name}}</td>
          <td>{{request.activity.cost}} </td>
          <td>
            <button class="btn btn-danger" *ngIf="request.accepted===undefined||request.accepted===false" (click)="acceptPetition(request)">
              <i class="fa fa-check" style="font-size: 12px "></i>
            </button>
            <button class="btn btn-danger" (click)="deletePetition(request._id)" >
              <i class="fa fa-trash" style="font-size: 12px "></i>
            </button>
          </td>
          <td *ngIf="!request.isDone&&!request.accepted">
            Pendent d'aprovar

          </td>
          <td *ngIf="request.accepted&&!request.isDone">
            Aprovada
          </td>
          <td *ngIf="request.isDone">
            Finalitzada
          </td>

        </tr>

        </tbody>
      </table>
    </div>

</div>
