<div class="col-lg-6">
  <h1 class="h1-strong">Registra una activitat</h1>

  <form #activityForm="ngForm"  (ngSubmit)="onSubmit()" class="col-lg-10, form-inLine">
    <div class="row">
            <div class="col">
                <label>Nom de l'activitat</label>
                <input type="text" name="activityName" #name="ngModel" [(ngModel)]="activityName"
                       class="form-control" required />
                <span *ngIf = "!name.valid && name.touched">El nom és obligatori</span>
            </div>

            <div class="col">
              <label>Descripció corta</label>
              <input type="text" name="activityDescription" #description="ngModel" [(ngModel)]="activityDescription"
                     class="form-control" required />
              <span *ngIf = "!description.valid && description.touched">la descripció és obligatoria</span>
            </div>
    </div>

    <div class="row">
            <div class="col">
                  <label>Preu</label>
                  <input type="number" name="activityCost" #cost="ngModel" [(ngModel)]="activityCost"
                         class="form-control" required />
                  <span *ngIf = "!cost.valid && cost.touched">el preu és obligatori</span>

                  <label>Tria una o varias categories</label>
                  <select name="activityCategory" #category="ngModel" [(ngModel)]="activityCategory"
                          class="custom-select custom-select-lg form-control" multiple >

                          <option value="Musica">                     Musica                       </option>
                          <option value="Fotos i videos">             Fotos i videos               </option>
                          <option value="informatica i oficina">      Informatica i oficina        </option>
                          <option value="Bellesa i salut">            Bellesa i salut              </option>
                          <option value="Alimentació i beguda">       Alimentació i beguda         </option>
                          <option value="Hogar, jardí, bricolatge">   Hogar, jardí, bricolatge     </option>
                          <option value="Videojocs">                  Videojocs                    </option>
                          <option value="moda">                       Moda                         </option>
                          <option value="Esport i aire lliure">       Esport i aire lliure         </option>
                          <option value="coche i moto">               Coche i Moto                 </option>
                          <option value="manualitats">                Manualitats                  </option>
                          <option value="Ocio">                       Ocio                         </option>
                  </select>
                  <br>

                  <label>Imatge:</label>
                  <input type="file" class="activityImatge"  name="activityImatge" #imatge="ngModel" [(ngModel)]="aactivityImatge" lang="cat"
                         class="form-control">
            </div>


            <div class="col">
                    <h4>Afegeix algunes caracteristiques (tags) a la teva activitat</h4>

                    <button  class="btn btn-info"       name="activityTag" #tag="ngModel" [(ngModel)]="activityTag" value="Material Extra" ngDefaultControl>  Material Extra    </button>
                    <button  class="btn btn-secondary"  name="activityTag" #tag="ngModel" [(ngModel)]="activityTag" value="Activitat UPC" ngDefaultControl>   Activitat UPC     </button>

                    <button  class="btn btn-success"    name="activityTag" #tag="ngModel" [(ngModel)]="activityTag" value="Aire lliure" ngDefaultControl>     Aire lliure       </button>
                    <button  class="btn btn-danger"     name="activityTag" #tag="ngModel" [(ngModel)]="activityTag" value="Aquatic" ngDefaultControl>         Aquatic           </button>
                    <button  class="btn btn-warning"    name="activityTag" #tag="ngModel" [(ngModel)]="activityTag" value="Exclusiu" ngDefaultControl>        Exclusiu          </button>

                    <button  class="btn btn btn-dark"   name="activityTag" #tag="ngModel" [(ngModel)]="activityTag" value="Urgent" ngDefaultControl >          Urgent            </button>

            </div>





    </div>
    <br>
    <button type="submit" (click)="onSubmit()" class="btn-btn-primary"> Afegir </button>
  </form>


</div>

<div class="col-lg-6">
  <h1 class="h1-strong">Novetats</h1>
  <br>
  <div class="col-lg-12 card divisor">
    <h3>Ultimes activitats publicades</h3>
    <table>
      <thead>
      <tr>
        <th>Activitat</th>
        <th>Descripció</th>
        <th>Usuari </th>
        <th>Preu</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let novetat of novetats"></tr>
      <td>{{novetat.activity.cost}}</td>
      </tbody>
    </table>

  </div>


</div>


