<!--The content below is only a placeholder and can be replaced.-->
<div class="container" ng-controller="SignInCtrl" ng-cloak>
  <div id="intro">
    <img [src]='img' class="avatar" alt="avatar" />
  </div>
  <div class="signin">
    <h1 class="h3 mb-3 font-weight-normal">Make an account</h1>
    <input #name type="text" id="inputname" class="form-control" placeholder="Name" required="">
    <input #username type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <input #mail type="email" id="inputmail" class="form-control" placeholder="Mail" required="" autofocus="">
    <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <input #password2 type="password" id="inputpassword2" class="form-control" placeholder="Confirm Password" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" (click)="signUp(name.value,username.value,mail.value, password.value, password2.value)">Sign up</button>
    <button class="btn btn-lg btn-primary" routerLink="/signin" ><---</button>
    <p class="mt-3 mb-3 text-muted">EA© Spring 2017-2018</p>
  </div>
</div>
