<header >
  <div class=" container-fluid general">

  <div class="container-fluid general " >
    <nav class="titol">
      <div class="container">
        <h1>Banc De Temps De L'EETAC</h1>
        <h3>Guanya temps i estalvia diners</h3>
      </div>
    </nav>
  </div>

  <div class="container-fluid general">
    <nav class="MenuSuperior">
      <ul>
        <li><a class="btn btn-toolbar" (click)="shutdown()">Salir</a></li>
        <li><a class="btn btn-danger" routerLink="/activityRequest"> Peticions </a></li>
        <li><a class="btn btn-danger" routerLink="/profile"> Perfil </a></li>
        <li><a class="btn btn-danger" routerLink="/favourites"> Favorits </a></li>
        <li><a class="btn btn-danger" routerLink="/messages"> Mensajes </a></li>
        <li><a class="btn btn-danger" data-toggle="modal" data-target="#primary"> <font color="white">Banc [ {{user.wallet}} h ]</font>
        </a></li>
        <li><a class="btn btn-danger" routerLink="/home"> Inicio</a></li>
        <li class="Buscador"><input type="text" [(ngModel)]="buscador" placeholder="Usuario"></li>
        <li class="Buscador"><button (click)="buscarUsuario()">Buscar</button></li>
      </ul>
    </nav>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <h1><i class="glyphicon glyphicon-piggy-bank"></i> Wallet</h1>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <h4>Saldo actual de l'usuari {{user.username}}: {{user.wallet}} hores </h4>
          <!-- Activity Request Table -->
          <app-table-activity-request></app-table-activity-request>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Tanca</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </div>
</header>
