a {text-decoration: none;  color: white ;}
h3 {size: A5; font-style: italic; font-size: small}

/*//////////////////GENERAL////////////////////////*/

.titol {
  border-color: #610B0B; color: white;
  background: #363636;
  padding: 0.5em; font-size: large;
}

.MenuSuperior{

  background: #DC2F2F;
  list-style-type: none; margin: 0; padding: 0; overflow: hidden;

}
.MenuSuperior li {float: right; padding: 10px; text-decoration: none;
  list-style-type: none;
}

nav a.selected, a:hover { color: #610B0B;}
.modal-header-primary {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
