a {text-decoration: none;  color: white ;}
h3 {size: A5; font-style: italic; font-size: small}

/*//////////////////GENERAL////////////////////////*/

.titol {
  border-color: #610B0B; color: white;
  background: #363636;
  padding: 0.5em; font-size: large;
}

.MenuSuperior{

  background: #DC2F2F;
  list-style-type: none; margin: 0; padding: 0; overflow: hidden;

}
.MenuSuperior li {float: right; padding: 10px; text-decoration: none;
  list-style-type: none;
}

nav a.selected, a:hover { color: #610B0B;}
