<header>
  <div class="w3-container-fluid w3-padding-16">
    <nav class="titol">
      <div class="container">
        <h1>Banc De Temps De L'EETAC</h1>
        <h3>Guanya temps i estalvia diners</h3>
      </div>
    </nav>
  </div>

  <div class="container">
    <nav class="MenuSuperior">
      <ul>
        <li> <a href="http://localhost:4200/activityRequest" > Peticions    </a></li>
        <li> <a href="#"                                     > Perfil       </a></li>
        <li> <a href="#"                                     > Favorits     </a></li>
        <li> <a href="#"                                     > Banc         </a></li>
        <li> <a href="#"                                     > Banc         </a></li>
        <li> <a href="#"                                     > Inicio       </a></li>
      </ul>
    </nav>
  </div>
</header>
