<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <h1>Banc De Temps De L'EETAC</h1>
        <h3>Guanya temps i estalvia diners</h3>
      </div>
    </div>

    <div class="navigation col-lg-12">
      <nav class="MenuSuperior col-lg-12">
        <ul>

          <li> <a href="http://localhost:4200/activityRequest" > <span class="glyphicon  glyphicon-transfer">       </span> Peticions                </a></li>
          <li> <a href="#"                                     > <span class="glyphicon  glyphicon-user">           </span> Perfil                   </a></li>
          <li> <a href="#"                                     > <span class="glyphicon  glyphicon-envelope">       </span> chat                     </a></li>
          <li> <a href="#"                                     > <span class="glyphicon  glyphicon-piggy-bank">     </span> Banc                     </a></li>
          <li> <a href="http://localhost:4200/home"            > <span class="glyphicon  glyphicon-home">           </span> Inicio                   </a></li>
        </ul>
      </nav>


    </div>
  </nav>
</div>

