.container {
  position: relative;
  width: 50%;
  padding: 5px;
}

/* Make the image responsive */
.container img {
  max-width: 250px;
  min-width: 100px;
  max-height: 250px;
  min-height: 100px;
  cursor: pointer;
}

.container input {
  width: 0.1px;
  height: 0.1px;
  visibility: hidden;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
